doctype html 
html(lang='en')
	head
		title Ryan's Guitar Stuff
		link( rel="stylesheet", href="/styles/classes.css")
	body
		div(class='container')
			include includes/topbar.pug
			
			div(class='panel')
				span
					| Welcome to Ryan's guitar page! Here students can find: 
					ul
						li Personalized feedback after each lesson 
						li Articles on topics covered in lessons
						li Video demonstrations with tabs 
						li Chord diagrams and progressions
