html(lang='en')
	include head.pug 
	script(src='/scripts/login.min.js')
	body 
		div(class='container') 
			include topbar.pug 
			h4 Sign in 

			input(type='text'     placeholder='Username' id='username-login')
			input(type='password' placeholder='Password' id='password-login')
			button(id='submit-login') Submit

			a(
				href="/password/change" 
				style="font-size: 17px; margin-top: 10px;"
			) Request password change

			div(class="notif-box")