html(lang='en')
	head
		title validToken ? Confirm password change : Request password change
		link( rel="stylesheet", href="/styles/classes.css")
		script(src='/scripts/password.min.js')
	body 
		div(class='container') 
			include includes/topbar.pug 

			if validToken 
				h4 Password change 

				span(class='info')
					| Enter a new password for your account.

				input(type='password' placeholder='New password' id='password-change')

				input(type='password' placeholder='Confirm password' id='password-confirm')

				button(id='submit-confirm') Submit

				div(class="notif-box")

			else 
				h4 Request password change

				span(class='info') 
					| Your account must have an associated email address for you to 
					| request a reset. If it doesn't, contact me directly for help. 

				input(type='text' placeholder='Username' id='username-request')

				input(type='email' placeholder='Email address' id='email-request')
				
				button(id='submit-request') Submit

				div(class="notif-box")