html(lang='en')
	include head.pug 	
	script(src='/scripts/password.min.js')
	body 
		div(class='container') 
			include topbar.pug 
			
			h4 Request password reset 
			input(type='text' placeholder='Username' id='username-change')
			input(type='email' placeholder='Email address' id='email-change')
			button(id='submit-change') Submit

			div(class="notif-box")