doctype html 
html(lang='en')
	head
		title #{name}'s profile
		link( rel="stylesheet", href="/styles/classes.css")
		script(src="/scripts/profile.min.js")
	body
		div( class='container' )
			include includes/topbar.pug  
			h3 #{name}'s profile