div(class='header')

	h3 
		a(href='/' style='text-decoration: none; color: white;') ryanguitar.uk

	div(class='account-options') 

		if loginPage 
			span(style='color: var(--secondary)') sign in 
		
		else if loggedIn 
			a(href='/profile') profile
			span(class='vertical-divider') &nbsp;|&nbsp;
			a(href='api/logout' style="float: right") sign out
		
		else if profilePage 
			span(style='color: var(--secondary)') profile
			span(class='vertical-divider') &nbsp;|&nbsp;
			a(href='/api/logout' style="float: right") sign out
		
		else
			a(href='/login') sign in