@import "./darkmode.css"  (prefers-color-scheme: dark);
@import "./lightmode.css" (prefers-color-scheme: light);
@import "./elements.css";


.container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	max-width: 750px; 
	margin: auto;
	align-self: center;
}

.container > * {
	margin: 5px;
}

.divider {
	width: 98%;
	margin-top: 7px;
	margin-bottom: 7px;
	border-top: 2px solid var(--secondary) 
}

.vertical-divider {
	color: var(--secondary);
	font-size: 23px;
	padding-left: 5px;
	padding-right: 5px;
}

.output {
	font-family: monospace; 
	margin-top: 20px; 
	background: var(--tertiary); 
	resize: none;
	height: 100px;
}

.header {
	height: auto;
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
	height: auto;
	background-color: var(--primary);
	padding: 15px;
	border-radius: 7px;
}

.header > * {  
	width: 100%; 
	margin-bottom: 4px;
	font-size: 30px;
}

.notif-box {
	opacity: 0; 
	border-radius: 7px;
	background-color: var(--error);
	padding: 8px;
	height: auto; 
	width: auto;
	margin-top: 10px;
	transition: opacity 0.3s; 
}

.notif-box.fade {
	opacity: 1;
}

.account-options {
	font-size: 20px;
}

.account-options > * {
	text-decoration: none;
}

.info {
	font-size: 17px;
	margin-bottom: 16px;
}

.panel {
	padding: 15px;
	background-color: var(--tertiary);
	border-radius: 7px;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
}

.panel > * { width: 100% } 

.message-date {
	font-weight: bold;
	font-size: 15px;
	color: var(--text-dark);
	margin-bottom: 0px;
}