:root { 
	--primary: #1f1c1c;
	--secondary: #423F3E;
	--tertiary: #313030;
	--background: #171010;
	--text: white; 
	--text-dark: #746c6c;
	--error: #810000;
	--success: rgb(51, 161, 51);
	--link: rgb(231, 245, 255);
	--link-hover: rgb(154, 170, 168);
	--header: #2e2424;
}